body {
    padding: 0;
    margin: 0;
    font-family: serif;
    font-weight: 300;
    background-color: #d3d3d3;
}
.dcont {
    min-height: 50vh;
    font-size: 2em;
}

.des{
    margin: 25vh;
    padding: 1em;
    border-radius: 25px;
    text-align: center;
    width: 75%;
    min-width: 300px;
    background-color: lightsteelblue;

}


.h {
    height: 100vh;
    min-height: 740px;
    background-image: url("imgs/statue.JPG");
    background-position: left;
    background-size: cover;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .8);
}

.h .title {
    font-size: 22pt;
    color: white;
    float: right;
    margin-top: 170px;
    margin-left: 1em;
    margin-right: 10em;
    padding: 2em;
    /*rounded corners*/
    border-radius: 25px;
    text-align: center;
    background-color: lightsteelblue;
}

.title h1 {
    font-family: serif;
    font-size: 2.5em;
    letter-spacing: 0.2em;
}

.title h2 {
    font-family: serif;
    font-weight: 300;
    line-height: 0.5em;
}

.h .nav {
    font-family: serif;
    font-weight: 300;
    color: white;
    margin-top: 2em;
    font-size: 1.5em;
    display: flex;
    flex-direction: row;
}

.h .nav a {

    color: white;
    text-decoration: none;
    flex-grow: 1;
}

.h .nav-item {
    font-size: 0.5em;
    padding: 0.5em 1em;
    margin: 0 0.5em;
    text-align: center;
    border: 1px solid lightgrey;
    border-width: 1px 0;
}

.h .nav-item:hover {
    color: white;
    /*slightly opaque*/
    opacity: 75%;
    background-color: lightgray;
}

.fa {
    padding: 20px;
    font-size: 60px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
    color: white;
}

.fa-github {
    color: white;
}


@media (max-width: 865px) {
    .h {
        min-height: 730px;
    }
    .h .title {
        font-size: 18pt;
    }
}

@media (max-width: 585px) {
    .h {
        min-height: 500px;
    }
    .h .title {
        font-size: 14pt;
        margin: 0;
        margin-top: 50px;
    }
}

@media (max-width: 445px) {
    .h .title {
        font-size: 12pt;
    }
}

@media (max-width: 865px) {
    .dcont {
        font-size: 1.5em;
    }
}

